@charset "UTF-8";
#myTable_filter input[type="search"]{
	color : #fff;
  }
td {
	color : black;
  }
.btn-default {
      background: #000;
      color: #fff;
   }
.btn-default:hover {
      background: #fff;
      color: #000;
   }  
table tr th {
	text-overflow: ellipsis;
	white-space : nowrap;
	max-width: 200px;
	overflow: hidden;
}
#nav {
	padding: 100px 20px;
	height: 100px;
	width: 30%;
}


#nav ul li {
	list-style: none;
	color: white;
	float: left;
	vertical-align: middle;
	text-align: center;
}


#nav ul a {
	display: block;
}


#nav .menuLink {
	text-decoration: none;
	color: white;
	width: 150px;
	font-size: 1.3em;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum, Arial;
}


#nav .menuLink:hover {
	color: red;
}
.concord-img-gradient {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0,
		0, 0.8)), color-stop(40%, rgba(0, 0, 0, 0)),
		color-stop(75%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0,
		rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 100%);
}
dt {
	color: red;
	padding: 20px;
	font-size: 2.3em;
	font-weight: bold;
	position: sticky;
	top: 0;
	left: 0;
	margin: 1em 0;
}


dd {
	padding: 20px;
}
.table tr td {
 overflow : hidden;
 white-space : nowrap;
 text-overflow : ellipsis;
 max-width : 150px;
}